name: PR Validate (Prod)

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]
jobs:
  validate-prod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: sfdx-actions/setup-sfdx@v1

      - name: Auth to Prod Org
        run: |
          echo "${{ secrets.PROD_SFDX_AUTH_URL }}" > sfdx_auth.txt
          sf org login sfdx-url -f sfdx_auth.txt -a Prod

      - name: Validate Deployment (CheckOnly)
        run: |
          sf project convert source --root-dir force-app --output-dir mdapi_output
          sf project deploy start -d mdapi_output -o Prod --dry-run --wait 40 --test-level RunLocalTests
