name: PR Validate (UAT)

on:
  pull_request:
    branches: [uatBranchNew]   # Run when PR targets uatbranch

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: sfdx-actions/setup-sfdx@v1

      - name: Auth to UAT Org
        run: |
          echo "${{ secrets.UAT_SFDX_AUTH_URL }}" > sfdx_auth.txt
          sf org login sfdx-url -f sfdx_auth.txt -a UAT

      - name: Validate Deployment and Run Tests
        run: |
          sfdx force:source:convert -r force-app -d mdapi_output
          sf project deploy start -d mdapi_output -o UAT --dry-run --ignore-conflicts --wait 20 --test-level RunLocalTests