name: PR Validate (PreProd)

on:
  pull_request:
    branches: [preprodbranch]   # Runs when a PR targets preprodbranch

jobs:
  validate-preprod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: sfdx-actions/setup-sfdx@v1

      - name: Auth to PreProd Org
        run: |
          echo "${{ secrets.PREPROD_SFDX_AUTH_URL }}" > sfdx_auth.txt
          sf org login sfdx-url -f sfdx_auth.txt -a PreProd

      - name: Validate Deployment (CheckOnly) on PreProd
        run: |
          sfdx force:source:convert -r force-app -d mdapi_output
          sf project deploy start -d mdapi_output -o PreProd --dry-run --wait 30 --test-level RunLocalTests
