name: Deploy UAT branch to UAT org

on:
  push:
    branches: [ uatbranch ]
    paths:
      - 'force-app/**'

jobs:
  deploy-uat:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: 'Install Salesforce CLI'
        run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
          mkdir ~/sfdx
          tar xJf sfdx-linux-x64.tar.xz -C ~/sfdx --strip-components 1
          echo "$HOME/sfdx/bin" >> $GITHUB_PATH
          ~/sfdx/bin/sfdx version

      - name: 'Installing sfdx git delta'
        run: |
          echo y | sfdx plugins:install sfdx-git-delta
          sfdx plugins

      - name: 'Checkout source code'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Populate auth file with SFDX_URL secret of UAT org'
        run: echo ${{ secrets.SFDX_UAT_URL }} > ./SFDX_UAT_URL.txt

      - name: 'Create delta packages for new, modified or deleted metadata'
        run: |
          mkdir changed-sources
          sfdx sgd:source:delta --to "HEAD" --from "HEAD^" --output changed-sources/ --generate-delta --source force-app/

      - name: 'Authenticate to UAT Org'
        run: sfdx auth:sfdxurl:store -f ./SFDX_UAT_URL.txt -s -a uat

      - name: 'Deploy the entire branch to UAT org'
        run: sfdx force:source:deploy -p force-app --testlevel RunLocalTests --json

      - name: 'Deploy destructive changes (if any) to UAT org'
        run: sfdx force:mdapi:deploy -d "changed-sources/destructiveChanges" --checkonly --ignorewarnings
